const make{{pascalCase name}}Repository = require('../repositories/{{lowerCase name}}');

function {{camelCase name}}Service(fastify){
  const {{camelCase name}}Repository = make{{pascalCase name}}Repository(fastify)
  return async (request) => {
    const response = await {{camelCase name}}Repository(request)
    return response
  }
}

module.exports = {{camelCase name}}Service