const make{{pascalCase name}}Service = require('../services/{{lowerCase name}}');

async function {{camelCase name}}Handler(request, reply){
  const {{camelCase name}}Service = make{{pascalCase name}}Service(this)
  const response = await {{camelCase name}}Service(request)
  return reply.code(200).send({ data: response })
}

module.exports = {{camelCase name}}Handler