
const {{camelCase name}}Schema = {
  tags: ['{{api}}'],
  headers: {
    type: "object"
  },
  body: {
    type: "object"
  },
  response: {
    200: {
      type: 'object'
    }
  }
}

module.exports = {{camelCase name}}Schema