
function {{camelCase name}}Repository(fastify){
  // Here we have to put the configurations to make requests to external services
  return async (request) => {
    // Logic to make requests
    return { status: 'ok'}
  }
}

module.exports = {{camelCase name}}Repository